<div id="content_plans">
  <div id="leftcontents">
    <div id="feed">
      
      <h1>お知らせ</h1>

      <% @feeds.each{ |feed| %>
        <p>
        <% case feed.type %>
        <% when "FeedPlan" %>
          「<%= link_to( feed.plan.title, plan_path(feed.plan) ) %>」の<%= feed.happen %>
        <% when "FeedEntry" %>
          「<%= link_to( feed.plan.title, plan_path(feed.plan) ) %>」に「<%= link_to( feed.entry.user.name, user_path(feed.entry.user) ) if feed.entry.present? %>」さんが<%= feed.happen %>
        <% when "FeedComment" %>
          「<%= link_to( feed.plan.title, plan_path(feed.plan) ) %>」に「<%= link_to( feed.comment.user.name, user_path(feed.comment.user) ) if feed.comment.present? %>」さんから<%= feed.happen %>
        <% end %>
        </p>
      <% } %>
    </div>
  </div>

  <div id="rightcontens">
    <div id="other3">
      <%= render partial: "/plans/recent" %>
    </div>
  </div>
</div>
