
  <div id="contentuserpage" style=" padding: 10px; ">

    <div id="userpage">
     
     <h1>プロフィール</h1>
       
     
       <div id="userdatawrap">
       
          <img class="userpagepic" src="<%= @user.image %>" width="70" height="70" />
          <div id="userdata">
          <h2><%= @user.name %></h2>
          <a class="fbbutton" href="<%= Settings.provider_page + @user.nickname %>" target="_blank"><img src="/assets/fb.png" alt="Facebookのページを見る" /></a>
        
     
          </div>
          
       </div>
     
     </div>             
      
           
           <div class="postplan">投稿したプラン</div>
            
          
             <% @my_plans.each{ |plan| %>
             <%= link_to( plan_path( plan ), "data-ajax" => "false" ) do %>
              <div class="imgcaptionshow">
              <img class="planimgtopshow" src="/assets/amuplanico.png" width="63" height="56" alt="" />
              <div class="plancapshow"><%= plan.title %></div>
          　</div>
          <% end %>
           <% } %>


         <br>
           
           <div class="attendplan">参加表明中</div>

　　　　　　 <% @entries.each{ |entry| %>
            <%= link_to( plan_path( entry.plan ), "data-ajax" => "false" ) do %>          
               <div class="imgcaptionshow">
              <img class="planimgtopshow" src="/assets/amuplanico.png" width="63" height="56" alt="" />
              <div class="plancapshow"><%= entry.plan.title %></div>
          　</div>
          <% end %>
           <% } %>
           
           
           
           <div class="okiniiri">お気に入り中</div>

         　　　　　　<% @favorites.each{ |favorite| %>
            <% if favorite.plan.present? %>
            <%= link_to( plan_path( favorite.plan ), "data-ajax" => "false" ) do %>     
               <div class="imgcaptionshow">
              <img class="planimgtopshow" src="/assets/amuplanico.png" width="63" height="56" alt="" />
              <div class="plancapshow"><%= favorite.plan.title %></div>
          　</div>
          <% end %>
            <% end %>
           <% } %>

          <br>
           <div id="ouen">応援中</div>


          <% @cheers.each{ |cheer| %>
           <%= link_to( plan_path( cheer.plan ), "data-ajax" => "false" ) do %>
               <div class="imgcaptionshow">
              <img class="planimgtopshow" src="/assets/amuplanico.png" width="63" height="56" alt="" />
              <div class="plancapshow"><%= cheer.plan.title %></div>
          　</div>
          <% end %>
           <% } %>

           
           <div data-theme="a" data-role="footer" data-position="fixed">
                <div data-role="navbar" data-iconpos="top">
                     <ul>
                        <li>
                            <%= link_to( new_plan_path, "data-ajax" => "false" ) do %>
                             <img class="category" src="/assets/Ampoule.png" width="20px" height="20px"/>
                             <div class="btnname">投稿する</div>
                             <% end %>
                        </li>
                        <li>
                            <%= link_to( feed_users_path, "data-ajax" => "false" ) do %>
                             <img class="category" src="/assets/Infos.png" width="20px" height="20px"/>
                                 <div class="btnname">お知らせ</div>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to( user_path( session[:user_id] ), "data-ajax" => "false" ) do %>
                            <img class="category" src="/assets/mypagepic.png" width="20px" height="20px"/>
                                 <div class="btnname1">マイページ</div>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>