<div id="content_plans">
  <div id="leftcontents">
    <div id="planmenulink"></div>
     <div id="userplan">
      <h1>プロフィール</h1>

      <div id="userdatawrap">
        <img class="userpagepic" src="<%= @user.image %>" width="140" height="140" />

        <div id="userdata">
          <h2><%= @user.name %></h2>
          <a class="fbbutton" href="<%= Settings.provider_page + @user.nickname %>" target="_blank"><img src="/assets/fb.png" alt="Facebookのページを見る" /></a>
        </div>
      </div>

<<<<<<< HEAD
      <br class="clear" style="clear:both" />
      <div id="toukou"></div>

=======
      <div class="userplanmenu">
        <ul>
          <li><%= link_to( "投稿したプラン", { anchor: "toukou" } ) %></li>
          <% if session[:user_id] == @user.id %>
          <li><%= link_to( "参加表明したプラン", { anchor: "sannka" } ) %></li>
          <li><%= link_to( "お気に入りのプラン", { anchor: "okiniiri" } ) %></li>
          <li><%= link_to( "応援したプラン", { anchor: "ouen" } ) %></li>
          <% end %>
        </ul>
      </div>

      <br class="clear" style="clear:both" />
      <div id="toukou"></div><br>
>>>>>>> 0e8a65e2c09f814dd6ff0797dc4d5a62349c74cf
      <h3>投稿したプラン</h3>
      <% @my_plans.each{ |plan| %>
        <a href="<%= plan_path( plan ) %>">
          <div class="imgcaptionshow">
            <img class="planimgtopshow" src="/assets/category<%= plan.categories.first.try(:sort).to_i %>.png" width="63" height="56" alt="" />
            <div class="plancapshow"><%= plan.title %></div>
          </div>
        </a>
      <% } %>

<% if session[:user_id] == @user.id %>
      <br class="clear" style="clear:both" />
      <div id="sannka"></div>
      <div class="space"></div>
<<<<<<< HEAD

      <h3>参加応募したプラン</h3>
=======
      <h3>参加表明したプラン</h3>
>>>>>>> 0e8a65e2c09f814dd6ff0797dc4d5a62349c74cf
      <% @entries.each{ |entry| %>
        <a href="<%= plan_path( entry.plan ) %>">
        <div class="imgcaptionshow">
          <img class="planimgtopshow" src="/assets/category<%= entry.plan.categories.first.try(:sort).to_i %>.png" width="63" height="56" alt="" />
          <div class="plancapshow"><%= entry.plan.title %></div>
        </div>
        </a>
      <% } %>

      <br class="clear" style="clear:both" />
      <div id="okiniiri"></div>
      <div class="space"></div>

      <h3>お気に入りのプラン</h3>
      <% @favorites.each{ |favorite| %>
        <% if favorite.plan.present? %>
          <a href="<%= plan_path( favorite.plan ) %>">
            <div class="imgcaptionshow">
              <img class="planimgtopshow" src="/assets/category<%= favorite.plan.categories.first.try(:sort).to_i %>.png" width="63" height="56" alt="" />
              <div class="plancapshow"><%= favorite.plan.title %></div>
            </div>
          </a>
        <% end %>
      <% } %>

<<<<<<< HEAD
=======
      <br class="clear" style="clear:both" />
      <div id="ouen"></div>
      <div class="space"></div>
      <h3>応援したプラン</h3>
      <% @cheers.each{ |cheer| %>
        <a href="<%= plan_path( cheer.plan ) %>">
          <div class="imgcaptionshow">
            <img class="planimgtopshow" src="/assets/category<%= cheer.plan.categories.first.try(:sort).to_i %>.png" width="63" height="56" alt="" />
            <div class="plancapshow"><%= cheer.plan.title %></div>
          </div>
        </a>
      <% } %>
<% end %>

>>>>>>> 0e8a65e2c09f814dd6ff0797dc4d5a62349c74cf
        <br class="clear" style="clear:both" />

      </div>

      <%= link_to( "ページの上へ", { anchor: "planmenulink" }, class: "gotop" ) %>
    </div>

    <div id="rightcontens">
      <div id="other3">
      <%= render partial: "/plans/recent" %>
      </div>
    </div>
   </div>
</div>
