<div id="content_plans">
  <div id="leftcontents">
    <div id="planmenulink"></div>
    <div id="userpage">
      <h1>プロフィール</h1>

      <div id="userdatawrap">
        <img class="userpagepic" src="<%= @user.image %>" width="140" height="140" />

        <div id="userdata">
          <h2><%= @user.name %></h2>
          <p style=" font-size: 0.8em; margin: 5px 0; ">お酒は弱いですが、飲むのは好きです。よろしくどうぞ</p>
          <a class="fbbutton" href="<%= Settings.provider_page + @user.nickname %>" target="_blank"><img src="/assets/fb.png" alt="Facebookのページを見る" style=" float: right;" /></a>
        </div>
      </div>

      <p style="margin:0;font-weight: bold;color: rgb(102, 102, 102);margin: 15px 0px -5px 5px;">興味のあるコミュニティ</p>
      <img src="/assets/tags.png" width="675" height="76" style=" margin-bottom: 10px; " />
    </div>

    <div id="userplan">
      <div class="userplanmenu">
        <ul>
          <li><%= link_to( "投稿したプラン", { anchor: "toukou" } ) %></li>
          <li><%= link_to( "参加表明したプラン", { anchor: "sannka" } ) %></li>
          <li><%= link_to( "お気に入りのプラン", { anchor: "okiniiri" } ) %></li>
          <li><%= link_to( "応援したプラン", { anchor: "ouen" } ) %></li>
        </ul>
      </div>

      <br class="clear" style="clear:both" />
      <div id="toukou"></div>
      <div class="space"></div>

      <h3>投稿したプラン</h3>
        <div class="userpostplanwrap">
          <% @my_plans.each{ |plan| %>
            <div class="userpostplan">
              <div class="uppimg">
                <a href="<%= plan_path( plan ) %>"><img src="<%= plan.image_url %>" width="162px" height="100px"></a>
              </div>

              <div class="upptitle">
                <a href="<%= plan_path( plan ) %>"><%= plan.title %></a>
              </div>
            </div>
          <% } %>
        </div>

        <br class="clear" style="clear:both" />
        <div id="sannka"></div>
        <div class="space"></div>
        <h3>参加表明したプラン</h3>

        <% @entries.each{ |entry| %>
          <%= link_to( entry.plan.title, plan_path( entry.plan ) ) %>
          <br />
        <% } %>
        <br />

        <br class="clear" style="clear:both" />
        <div id="okiniiri"></div>
        <div class="space"></div>
        <h3>お気に入りのプラン</h3>

        <% @favorites.each{ |favorite| %>
          <% if favorite.plan.present? %>
          <div class="userpostplan">
            <div class="uppimg">
              <a href="<%= plan_path( favorite.plan ) %>"><img src="<%= favorite.plan.image_url %>" width="162px" height="100px"></a>
            </div>

            <div class="upptitle">
              <%= link_to( favorite.plan.title, plan_path( favorite.plan ) ) %>
              <br />
            </div>
          </div>
          <% end %>
        <% } %>

        <br class="clear" style="clear:both" />
        <div id="ouen"></div>
        <div class="space"></div>
        <h3>応援したプラン</h3>

        <% @cheers.each{ |cheer| %>
          <div class="userpostplan">
            <div class="uppimg">
              <a href="<%= plan_path( cheer.plan ) %>"><img src="<%= cheer.plan.image_url %>" width="162px" height="100px"></a>
            </div>

            <div class="upptitle">
              <%= link_to( cheer.plan.title, plan_path( cheer.plan ) ) %>
            </div>
          </div>
        <% } %>

        <br class="clear" style="clear:both" />
      </div>

      <%= link_to( "ページの上へ", { anchor: "planmenulink" }, class: "gotop" ) %>
    </div>

    <div id="rightcontens">
      <div id="other1">
        関連プラン
        <img src="/assets/rough_top.png" width="180px"/>
      </div>

      <div id="other2">
        おすすめプラン

        <img src="/assets/rough_top.png" width="180px"/>
        <img src="/assets/rough_top.png" width="180px"/>
      </div>
    </div>
   </div>
</div>
