<div class="imgcaption">
  <%= link_to( plan_path( plan ) ) do %>
   <div class="planimgtop"><img src="/assets/category<%= plan.categories.first.try(:sort).to_i %>.png" alt="" /></div>
     <div class="plancap"><%= plan.title %>
  <% end %>

       <div class="planfoot">
        <p class="areatop"><%= plan.area %></p>
          <% if plan.closed? or plan.gender_entry_close?( current_user.try(:gender) ) %>
         <%# 募集終了 %>
           <div class="ibbon">募集終了</div>
         <% elsif plan.hold_decide? %>
          <%# 開催決定／募集中 %>
           <div class="ibbon">男性<%= plan.male_min %>人以上・女性<%= plan.female_min %>人以上で開催 (現在参加??人)</div>
         <% else %>
          <%# 開催未決定／募集中 %>
           <div class="ibbon">男性<%= plan.male_min %>人以上・女性<%= plan.female_min %>人以上で開催 (現在参加??人)</div>
         <% end %>
       </div>
     </div>
</div>
