
<h1>プラン一覧</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Place</th>
    <th>Budget</th>
    <th>Min people</th>
    <th>Max people</th>
    <th>Publish start at</th>
    <th>Publish end at</th>
    <th>Target people</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plans.each{ |plan| %>
  <tr>
    <td><%= link_to( image_tag( plan.user.image, size: "18x18", class: "margin_minus2" ), user_path( plan.user ) ) %></td>
    <td><%= link_to plan.title, plan_path( plan ) %></td>
    <td><%= plan.description %></td>
    <td><%= plan.image_url %></td>
    <td><%= plan.place %></td>
    <td><%= plan.budget %></td>
    <td><%= plan.min_people %></td>
    <td><%= plan.max_people %></td>
    <td><%= plan.publish_start_at %></td>
    <td><%= plan.publish_end_at %></td>
    <td><%= plan.target_people %></td>
    <td><%= link_to( t( "menu.show" ), plan_path( plan ) ) %></td>
    <td><%= link_to( t( "menu.edit" ), edit_plan_path( plan ) ) if plan.user_id == session[:user_id] %></td>
    <td><%= link_to( t( "menu.destroy" ), plan_path( plan ), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } ) if plan.user_id == session[:user_id] %></td>
  </tr>
<% } %>
</table>

<br />

<%= link_to t( "menu.new" ), new_plan_path %>

<br />
<br />

<%= link_to t( "menu.top" ), :root %>
