<script type="text/javascript">
</script>

<div id="mainpic">
  <div class="copy"><img src="/assets/copy3.png" alt="あなたの行きたい所・やりたい趣味が実現出来るサービス『プレイキャスト』" /></div>
  <%= link_to "" , new_plan_path, class: "postbuttontop#{session[:user_id].present? ? '2' : '1'}" %>
</div>

<div id="content">
  <div id="content_inner">

    <div class="news"><span style="background-color: rgb(255, 50, 50); color: white; padding: 2px; margin-right: 5px;">new!</span><span style="color: rgb(253, 50, 50);">「女性（男性）一人だけ参加するのは気まずい！」</span>という声に応え、男女共に２人以上集まらないと開催出来ないようになりました。</div>

    <div id="social">
        <style type="text/css">#face-like-rapper{display: inline-block;margin:0;padding:0;}#face-like-rapper div{float:left;margin:0;padding:0;}#like-face div.connect_widget_button_count_including, td.connect_widget_simple_including{margin:0;padding:0;}#like-face td, td.label{font-size: 11px;text-align: left;margin:0;padding:0;}#like-face{font-size: 11px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#333;line-height:1.28;text-align: left;direction: ltr;margin-top: 1px !important; margin-left: -2px!important;position: relative;float:left;}#like-face .uiGrid{border: 0;border-collapse: collapse;border-spacing: 0;}#like-face .connect_widget_button_count_count{background: white;border: 1px solid #D1D1D1;float: left;font-weight: normal;height: 14px;margin-left: 1px;min-width: 17px;padding: 1px 2px 1px 2px;text-align: center;line-height: 14px;white-space: nowrap;}#like-face .connect_widget_button_count_nub s, #like-face .connect_widget_button_count_nub i{border: solid transparent;border-right-color: #D7D7D7;top: 1px;display: block;position: relative;border-width: 4px 5px 4px 0;}#like-face .connect_widget_button_count_nub i{left: 2px;top: -7px;border-right-color: white;}#like-face .connect_widget_button_count_nub {float: left; position: relative; height: 0; width: 5px; top: -5px; left: 2px; }</style><div id="face-like-rapper"><div class="fb-like" data-href="http://www.facebook.com/playcast.jp" data-send="false" data-layout="box_count" data-width="48" data-show-faces="false" data-font="arial" style="width: 70px; height: 21px; overflow: hidden;"></div><div id="like-face"><div class="connect_widget_button_count_including"><table class="uiGrid" cellspacing="0" cellpadding="0"><tbody><tr><td><div class="thumbs_up hidden_elem"></div></td><td><div class="undo hidden_elem"></div></td></tr><tr><td><div class="connect_widget_button_count_nub"><s></s><i></i></div></td><td><div class="connect_widget_button_count_count">6.9k</div></td></tr></tbody></table></div></div></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="あなたの行きたい所・やりたい趣味が実現出来るサービス『プレイキャスト』" data-via="Playcast_jp" data-lang="ja" data-related="Playcast_jp" data-count="none" data-hashtags="playcast" data-dnt="true">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
        <img style="position: relative; left: 560px; top: -56px; margin-bottom: -10px;" src="/assets/plsh.png"/><br>

    <%# カテゴリ一覧 %>
    <div class="catewrap">
      <%= link_to( plans_path( category_id: nil ), class:"cateall" ) do %><%= image_tag( "category0.png" )%><span class="catealldes">すべて</span><% end %>

      <% Category.all.each.with_index(1){ |category, index| %>
        <div class="catego">
        <%= link_to( plans_path( category_id: category.id ) ) do %>
          <span class="cateimg"><%= image_tag( "category#{category.sort.to_i}.png" )%></span><span class="catedes" <% if category.id.to_i == params[:category_id].to_i %>style="color: red;"<% end %>><%= category.name %></span>
        <% end %>
        </div>
      <% } %>
    </div>

    <br><br>


    <div class="post">
      <h2>本日のユーザー投稿プラン一覧</h2>
      <div id="paging">
        <%# プラン一覧 %>
        <% @plans.each{ |plan| %>
          <%= render partial: '/plans/plan', locals: { plan: plan, favorites: @favorites } %>
        <% } %>
      </div>
    </div>


    <br><br><br><p style="text-align: center; font-weight: bold; text-decoration: underline;clear: both;padding-top: 30px;"><a href="http://playcast.jp/plans/new"/>⇒行きたいプランがあなたの地域では投稿されていない場合、新しくプランを投稿してください</a></p>


    <% if @admin_plans.present? %>

    <div class="post">
      <h2>本日の運営提案プラン一覧</h2>
      <div id="paging">
        <%# 運営プラン一覧 %>
        <% @admin_plans.each{ |plan| %>
          <%= render partial: '/plans/plan', locals: { plan: plan, favorites: @favorites } %>
        <% } %>
      </div>
    </div>

    <% end %>


      <img id="loading" src='/assets/ajax-loader.gif' alt='loading' width='32px' height='32px' style="display: none;" />
      <div style="display: none;"><%= paginate @plans %></div>
    <br><br>
  </div>
</div>
