<script type="text/javascript">
</script>

<div id="mainpic">
  <div class="copy"><img src="/assets/copy.png" width="657" height="96" alt="遊びを通じて、趣味の合う仲間を作れる。あなたのやりたい趣味を募集して、集まった仲間と実際に遊ぶ。ソーシャル・レジャーマッチングサービス「Playcast」" /></div>

  <%= link_to  "" , new_plan_path, class: "postbuttontop" %>
</div>
</div>

<div id="content">
  <div id="content_inner">

  <div id="social">
  <div class="fb-like" data-href="http://www.facebook.com/pages/Playcast/292086317583536" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>

　<a href="https://twitter.com/share" class="twitter-share-button" data-text="“友達も恋人も、もっと自然に作りたい” 　自分の好きな遊びを通じて新たな仲間を作れるサービス「Playcast」" data-lang="ja" data-related="Playcast_jp">ツイート</a>
　<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <div class="g-plusone" data-size="medium"></div>
　<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


  </div>



    <%# カテゴリ %>
    <%= link_to( plans_path( category_id: nil ) ) do %><%= image_tag( "category0.gif" )%>すべて<% end %>

    <% Category.all.each.with_index(1){ |category, index| %>
      <%= link_to( plans_path( category_id: category.id ) ) do %>
        <%= image_tag( "category#{index}.gif" )%><%= category.name %>
      <% end %>
    <% } %>

    <div class="sort">
    <%= link_to( "新着順", plans_path( sort: nil ) ) %>
    <%= link_to( "人気順", plans_path( sort: "populur" ) ) %>
    </div>

    <br />
        <div class="post">
      <h2>本日の参加募集中プラン一覧</h2>
    </div>



    <div id="paging">
    <% @plans.each{ |plan| %>
     <div class="imgcaption">
            <%= link_to( plan_path( plan ) ) do %>
              <img class="planimgtop" src="/assets/amuplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><%= link_to( plan.title, plan_path( plan ) ) %></div>
           <% end %>


<% if plan.closed? %>
  <%# 募集終了 %>
  <div class="ribbon3">　募集終了</div>
<% elsif condition %>
  <%# 開催決定／募集中 %>
  <div class="ribbon2">　開催決定！</div>
<% else %>
  <%# 開催未決定／募集中 %>
  <div class="ribbon">　先着<%= plan.min_people %>人で開催！</div>
<% end %>

               <div class="planfoot">
　　　　       　<%= image_tag( plan.user.image, size: "28x28", class: "margin_minus2", style: "float: left; position: relative; left: 5px;" )%>
                <%= link_to  "" , plan_path( plan ), class: "sannkabtn" %>

          <%# お気に入りボタン %>
          <% if session[:user_id].present? %>
          <div id="favorite<%= plan.id %>">
                   <%= render partial: '/plans/favorite', locals: { favorite: @favorites[plan.id], plan: plan, klass: "favoritebtntop" } %>
                </div>
               </div>
          </div>
          <% end %>
    <% } %>
    </div>


    <div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a> <div class="ribbon">　先着人で開催！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>   <div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/indoorplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a> <div class="ribbon">　先着6人で開催！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>   <div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/sportsplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a> <div class="ribbon">　先着6人で開催！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>   <div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

                 <div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>

<div class="imgcaption">
            <a href="/plans/38">
              <img class="planimgtop" src="/assets/beerplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><a href="/plans/38"><span style="color: rgb(255, 92, 157);"></span>ボルダリングいこう</a></div>
</a><div class="ribbon2">　開催決定！</div>
               <div class="planfoot">
　　　　       　<img alt="Picture?type=large" class="margin_minus2" height="28" src="https://graph.facebook.com/yokoyama.shin.1/picture?type=large" style="float: left; position: relative; left: 5px;" width="28" />
                <a href="/plans/38" class="sannkabtn"></a>

          <div id="favorite38">
                     <a href="javascript:void(0);" class="favoritebtntopcancell" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;delete&#x27; )"></a>

                </div>
               </div> </div>





    <img id="loading" src='/assets/ajax-loader.gif' alt='loading' width='32px' height='32px' style="display: none;" />
    <div style="display: none;"><%= paginate @plans %></div>
  </div>
</div>

