<div id="mainpic">
          <%= link_to  "" , new_plan_path, class: "postbuttontop" %>
        
    </div>
  </div>



<div id="content">
  <div id="content_inner">

    <b>ソート : </b>
    <%= link_to( "新着", plans_path( sort: nil ) ) %>
    <%= link_to( "人気", plans_path( sort: "populur" ) ) %>
    <br />

    <b>カテゴリ : </b>
    <%= link_to( "すべて", plans_path( category_id: nil ) ) %>

    <% @categories.each{ |category| %>
      <%= link_to( category.name, plans_path( category_id: category.id ) ) %>
    <% } %>
    <br />
        <div class="post">
      <h2>参加募集中のプラン一覧</h2>
    </div>

     <% @plans.each{ |plan| %>
        <div class="imgcaption">
          <div class="imginner">
            <%= link_to( plan_path( plan ) ) do %>
              <p><img src="<%= plan.image_url %>" width="210" height="117" alt="<%= plan.title %>" /></p>
            <% end %>

            <p><%= link_to( plan.title, plan_path( plan ) ) %><p>
            <br>
           
           <%= link_to  "" , new_plan_path, class: "attendbtntop" %>

      　　　<% if @favorites[plan.id].present? %>
              <%= link_to( "", plan_favorite_path( @favorites[plan.id].plan, @favorites[plan.id] ), method: "delete", confirm: "お気に入りを解除してよろしいですか？" , class: "favoritebtntopcancell" ) %>
            <% else %>
              <%= link_to( "", plan_favorites_path( plan ), method: "post" , class: "favoritebtntop" ) %>
            <% end %>


            <br/>
          </div>
        </div>
     <% } %>
    </div>
  </div>
</div>
