


  <div id="mainpic">
    <div id="mainpicinner">
      <div class="white">
        <div class="whiteinner">
          <h2>どうしても、<br />
            やりたいことがある。</h2>
          <p>どうしてもやりたい事があるけれど、<br />
            友達と予定が合わなかったり、友達は乗り気じゃなくて、<br />
            結局諦めてしまう・・・。<br />
            そんな時は「Playcast」で、あなたの気持ちに共感してくれる人を<br />
            見つけて、気の合う仲間と共に最高の思い出を作りましょう。</p>
          <br />
          <%= link_to  "" , new_plan_path, class: "postbuttontop" %>
         </div>
      </div>
    </div>
  </div>


  <div id="content">
    <div id="content_inner">
      <div class="post">
        <h2>参加募集中のプラン一覧</h2>
      </div>

      <b>ソート : </b>
<%= link_to( "新着", plans_path( sort: nil ) ) %>
<%= link_to( "人気", plans_path( sort: "populur" ) ) %>
<br />

<b>カテゴリ : </b>
<%= link_to( "すべて", plans_path( category_id: nil ) ) %>
<% @categories.each{ |category| %>
  <%= link_to( category.name, plans_path( category_id: category.id ) ) %>
<% } %>
<br />

     <% @plans.each{ |plan| %>
        <div class="imgcaption">
          <div class="imginner">
            <a href="plans.html">
            <p><img src="plansozai.png" width="210" height="117" alt="画像の説明" /></p>


  <%= link_to( plan.title, plan_path( plan ) ) %>
  <br>

　　　<% if @favorites[plan.id].present? %>
        <%= link_to( "", plan_favorite_path( @favorites[plan.id].plan, @favorites[plan.id] ), method: "delete", confirm: "お気に入りを解除してよろしいですか？" , class: "btncancell" ) %>
      <% else %>
        <%= link_to( "", plan_favorites_path( plan ), method: "post" , class: "btn" ) %>
      <% end %>


            </a>
            <br/>

          </div>
        </div>
        
             
     <% } %>
     
     
    </div>
  </div>
  
 
</div>
</body>
</html>