<script type="text/javascript">
</script>

<div id="mainpic">
  <div class="copy"><img src="/assets/copy.png" alt="遊びを通じて、趣味の合う仲間を作れる。ソーシャル・レジャーマッチングサービス「Playcast」" /></div>

  <%= link_to "" , new_plan_path, class: "postbuttontop#{session[:user_id].present? ? '2' : '1'}" %>
  </div>
</div>

<div id="content">
  <div id="content_inner">

 <div id="social">

  <style type="text/css">#fake-like-rapper{display: inline-block;margin:0;padding:0;}#fake-like-rapper div{float:left;margin:0;padding:0;}#like-fake div.connect_widget_button_count_including, td.connect_widget_simple_including{margin:0;padding:0;}#like-fake td, td.label{font-size: 11px;text-align: left;margin:0;padding:0;}#like-fake{font-size: 11px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#333;line-height:1.28;text-align: left;direction: ltr;margin-top: 1px !important; margin-left: -2px!important;position: relative;float:left;}#like-fake .uiGrid{border: 0;border-collapse: collapse;border-spacing: 0;}#like-fake .connect_widget_button_count_count{background: white;border: 1px solid #D1D1D1;float: left;font-weight: normal;height: 14px;margin-left: 1px;min-width: 17px;padding: 1px 2px 1px 2px;text-align: center;line-height: 14px;white-space: nowrap;}#like-fake .connect_widget_button_count_nub s, #like-fake .connect_widget_button_count_nub i{border: solid transparent;border-right-color: #D7D7D7;top: 1px;display: block;position: relative;border-width: 4px 5px 4px 0;}#like-fake .connect_widget_button_count_nub i{left: 2px;top: -7px;border-right-color: white;}#like-fake .connect_widget_button_count_nub {float: left; position: relative; height: 0; width: 5px; top: -5px; left: 2px; }</style><div id="fake-like-rapper"><div class="fb-like" data-href="http://www.facebook.com/playcast.jp" data-send="false" data-layout="box_count" data-width="48" data-show-faces="false" data-font="arial" style="width: 70px; height: 21px; overflow: hidden;"></div><div id="like-fake"><div class="connect_widget_button_count_including"><table class="uiGrid" cellspacing="0" cellpadding="0"><tbody><tr><td><div class="thumbs_up hidden_elem"></div></td><td><div class="undo hidden_elem"></div></td></tr><tr><td><div class="connect_widget_button_count_nub"><s></s><i></i></div></td><td><div class="connect_widget_button_count_count">6.9k</div></td></tr></tbody></table></div></div></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-text="あなたの本当にやりたかった遊びを実現できるサービス『Playcast』" data-via="Playcast_jp" data-lang="ja" data-related="Playcast_jp" data-count="none" data-hashtags="playcast" data-dnt="true">ツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

    <%# カテゴリ一覧 %>
    <div class="news"><span style="background-color: rgb(255, 50, 50); color: white; padding: 2px; margin-right: 5px;">new!</span>3/1 カテゴリ並び替え機能がつきました。</div>
    <div class="catewrap">
    <%= link_to( plans_path( category_id: nil ), class:"cateall" ) do %><%= image_tag( "category0.png" )%><span class="catealldes">すべて</span><% end %>

    <% Category.all.each.with_index(1){ |category, index| %>
      <div class="catego">
      <%= link_to( plans_path( category_id: category.id ) ) do %>
        <span class="cateimg"><%= image_tag( "category#{category.sort.to_i}.png" )%></span><span class="catedes" <% if category.id.to_i == params[:category_id].to_i %>style="color: red;"<% end %>><%= category.name %></span>
      <% end %>
    </div>
    <% } %>
    </div>

    <br><br>
        <div class="post">
      <h2>本日の参加募集中プラン一覧</h2>

    <div id="paging">
    <% @plans.each{ |plan| %>
      <div class="imgcaption">
      <% if plan.closed? %>
        <%# 募集終了 %>
        <div class="ribbon3">　募集終了</div>
      <% elsif plan.hold_decide? %>
        <%# 開催決定／募集中 %>
        <div class="ribbon2">　開催決定！まだ参加可能</div>
      <% else %>
        <%# 開催未決定／募集中 %>
        <div class="ribbon">　先着<%= plan.min_people %>人で開催！</div>
      <% end %>

     <p class="areatop"><%= plan.area %><p>


      <%= link_to( plan_path( plan ) ) do %>
        <img class="planimgtop" src="/assets/category<%= plan.categories.first.try(:sort).to_i %>.png" alt="" />
        <div class="plancap"><%= plan.title %></div>
      <% end %>


      <div class="planfoot">
        <p class="plandes"><%= "#{plan.description.to_s.slice(0..45)}..." %></p>
        <%= image_tag( plan.user.try(:image), size: "28x28", class: "margin_minus2", style: "float: left; position: relative; left: 2px;" )%>
        <%= link_to  "" , plan_path( plan ), class: "sannkabtn" %>

        <%# お気に入りボタン %>
        <div id="favorite<%= plan.id %>">
          <%= render partial: '/plans/favorite', locals: { favorite: @favorites[plan.id], plan: plan, klass: "favoritebtntop" } %>
        </div>
      </div>
    </div>
  <% } %>
   <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/71">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">美味しい焼き肉でも食べに行きませんか〜？</div>
</a>

      <div class="planfoot">
        <p class="plandes">美味しいものが大好きな皆さん！焼き肉を食べに行きましょう^0^場所は東...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.7653456.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/71" class="sannkabtn"></a>

        <div id="favorite71">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;71&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/70">
        <img class="planimgtop" src="/assets/category3.png" alt="" />
        <div class="plancap">女の子限定のフットサル♡</div>
</a>

      <div class="planfoot">
        <p class="plandes">初心者大歓迎！設定している日時は大体です。楽しみだー^0^/...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.34563.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/70" class="sannkabtn"></a>

        <div id="favorite70">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;70&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/69">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">Vanity・LEXなど♡六本木のクラブに一緒に行く人募集♡</div>
</a>

      <div class="planfoot">
        <p class="plandes">クラブに一緒に行ける友達ってなかなかいなかったりします。みんなでお酒飲んで踊り明かしましょ...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.724563.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/69" class="sannkabtn"></a>

        <div id="favorite68">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;69&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/68">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">オールジャンル！カラオケ行きましょう☆</div>
</a>

      <div class="planfoot">
        <p class="plandes">みんなで盛り上がりましょー♪...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.4537.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/68" class="sannkabtn"></a>

        <div id="favorite68">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;68&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/67">
        <img class="planimgtop" src="/assets/category3.png" alt="" />
        <div class="plancap">【世界一】富士急ハイランドに行きましょう！</div>
</a>

      <div class="planfoot">
        <p class="plandes">そろそろ暖かくなってきましたね！世界一のアトラクションが集う、富士急ハイランドに行...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.54662.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/67" class="sannkabtn"></a>

        <div id="favorite67">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;67&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/66">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">☆空気を気にせず、ひたすら自分が歌いたい曲を歌う会☆</div>
</a>

      <div class="planfoot">
        <p class="plandes">みなさん、カラオケに行くと、空気を気にして自分が本当に歌いたい曲を抑えていません...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.5426564.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/66" class="sannkabtn"></a>

        <div id="favorite66">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;66&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/65">
        <img class="planimgtop" src="/assets/category3.png" alt="" />
        <div class="plancap">スノボがしたい♡</div>
</a>

      <div class="planfoot">
        <p class="plandes">スノボ大好き集まれ♪みんなで行けばもっと楽し...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.54263.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/65" class="sannkabtn"></a>

        <div id="favorite65">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;65&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/64">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">ワイン好き集まれ〜^^美味しくワインを飲む会★</div>
</a>

      <div class="planfoot">
        <p class="plandes">ワインが大好きな人もこれからワインを覚えたい人も！たくさんのワインを集...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.4563555.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/64" class="sannkabtn"></a>

        <div id="favorite64">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;64&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/63">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">ディズニーランドに一緒に行きましょう♡</div>
</a>

      <div class="planfoot">
        <p class="plandes">ディズニー好き集まれ♡たくさんアトラクション乗る方法とか知ってい...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.23544.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/63" class="sannkabtn"></a>

        <div id="favorite63">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;63&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/62">
        <img class="planimgtop" src="/assets/category4.png" alt="" />
        <div class="plancap">あの頃に戻ってテレビゲームがしたい！ 〜大切な何かを〜</div>
</a>

      <div class="planfoot">
        <p class="plandes">マリオカート、大乱闘スマッシュブラザーズ、桃太郎電鉄・・・いつも僕らの...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.3456.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/62" class="sannkabtn"></a>

        <div id="favorite62">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;62&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/61">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">【ライオン】誰かアニソン祭りしましょう〜〜！</div>
</a>

      <div class="planfoot">
        <p class="plandes">アニソン祭りの楽しさは経験した人にしかわからない♡周りを気にし...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.62265.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/61" class="sannkabtn"></a>

        <div id="favorite61">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;61&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/60">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">夜景の見えるレストランでフレンチを食べにいきませんか？</div>
</a>

      <div class="planfoot">
        <p class="plandes">高級な雰囲気のお店で、セレブな気分を味わいたい♡...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.763445.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/60" class="sannkabtn"></a>

        <div id="favorite60">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;60&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/59">
        <img class="planimgtop" src="/assets/category3.png" alt="" />
        <div class="plancap">バスケしましょー！</div>
</a>

      <div class="planfoot">
        <p class="plandes">初心者もそうでない方も！バスケで気持ちのよい汗を流し...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.324523.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/59" class="sannkabtn"></a>

        <div id="favorite59">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;59&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/58">
        <img class="planimgtop" src="/assets/category4.png" alt="" />
        <div class="plancap">ボードゲームしましょう♪</div>
</a>

      <div class="planfoot">
        <p class="plandes">渋谷にボードゲームがたくさん置いてあるお店が...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.87654456.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/58" class="sannkabtn"></a>

        <div id="favorite58">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;58&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/57">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">焼き肉行きましょう ; )</div>
</a>

      <div class="planfoot">
        <p class="plandes">女の子も男の子も♪いつも頑張っている自分へのご褒美に☆焼き肉を...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.6734545.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/57" class="sannkabtn"></a>

        <div id="favorite57">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;57&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/56">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">ダーツしたい人あつまれ！初心者歓迎です☆</div>
</a>

      <div class="planfoot">
        <p class="plandes">奥が深くて、ハマるとめっちゃ楽しいダーツ。そんなダーツに魅せ...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.24572457.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/56" class="sannkabtn"></a>

        <div id="favorite56">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;56&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/55">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">V系縛りでカラオケ・・・行っちゃいませんか！？☆</div>
</a>

      <div class="planfoot">
        <p class="plandes">シド、ムック、GazettEなど、V系縛りでカラオケに行きましょう^^...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.72542.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/55" class="sannkabtn"></a>

        <div id="favorite55">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;55&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/54">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">片思いに悩む女の子集まれ♡恋愛語り女子会しましょう**</div>
</a>

      <div class="planfoot">
        <p class="plandes">片思いのつらさをみんなでぶっちゃけあって楽しんじゃいましょう♡...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.765567.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/54" class="sannkabtn"></a>

        <div id="favorite54">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;54&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/53">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">【80年代・90年代】懐メロカラオケしませんか？【2000年代】</div>
</a>

      <div class="planfoot">
        <p class="plandes">懐メロ大好き！みんなで歌い尽くしましょう〜☆...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.6245.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/53" class="sannkabtn"></a>

        <div id="favorite53">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;53&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/52">
        <img class="planimgtop" src="/assets/category3.png" alt="" />
        <div class="plancap">初心者同士、初心者限定のフットサルしませんか？</div>
</a>

      <div class="planfoot">
        <p class="plandes">初心者限定！周りがうまくて入りづらいのでwww気楽に始めたい方集ま...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.5674.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/52" class="sannkabtn"></a>

        <div id="favorite52">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;52&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/51">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">【プール＆東京の夜景♡】アルトモンドに行きませんか〜？【レストラン】</div>
</a>

      <div class="planfoot">
        <p class="plandes">ドラマの撮影にも使われる、東京のオアシス「アルトモンド」。ちょっとお...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.245652.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/51" class="sannkabtn"></a>

        <div id="favorite51">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;51&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/50">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">富士急行きましょう。</div>
</a>

      <div class="planfoot">
        <p class="plandes">絶叫大好き集まれ！絶叫アトラクションが好きな人が周りにいなかったりす...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.654676.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/50" class="sannkabtn"></a>

        <div id="favorite50">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;50&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/49">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">【カラオケ】ボカロ歌いまくっちゃおう☆</div>
</a>

      <div class="planfoot">
        <p class="plandes">ボカロ好き集まれ〜♪カラオケ行くよ〜♪...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.734562.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/49" class="sannkabtn"></a>

        <div id="favorite49">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;49&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/48">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">ビリヤードをしに行きましょう。</div>
</a>

      <div class="planfoot">
        <p class="plandes">ビリヤードが好きな人もそうで無い方も！(ぇ ビリヤードで...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.34562.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/48" class="sannkabtn"></a>

        <div id="favorite48">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;48&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/47">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">築地市場に美味しい海鮮料理を食べに行きましょう！</div>
</a>

      <div class="planfoot">
        <p class="plandes">安くて美味しい海鮮料理☆築地に食べにいきましょー...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.34252.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/47" class="sannkabtn"></a>

        <div id="favorite47">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;47&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/46">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">大学生同士で飲み会しましょう！^^</div>
</a>

      <div class="planfoot">
        <p class="plandes">大学生で集まって飲み会しましょう♪お酒が弱い方には優しく行きま...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.89111.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/46" class="sannkabtn"></a>

        <div id="favorite46">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;46&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/45">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">ラルク・janneなどのバンド系が好きな人いますか？カラオケで盛り上がりましょう。</div>
</a>

      <div class="planfoot">
        <p class="plandes">王道ロックバンドが好きな人、バンドやってる人でカラオケに行きましょう♪...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.3457.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/45" class="sannkabtn"></a>

        <div id="favorite45">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;45&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/44">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">20代の女の子同士で女子会☆^^</div>
</a>

      <div class="planfoot">
        <p class="plandes">20代の女の子のつながりを増やしたい♡場所は渋谷・新宿・六本木あた...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.4848847.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/44" class="sannkabtn"></a>

        <div id="favorite44">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;44&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/43">
        <img class="planimgtop" src="/assets/category3.png" alt="" />
        <div class="plancap">ボルダリングしませんか！？</div>
</a>

      <div class="planfoot">
        <p class="plandes">ボルダリングとは、ロッククライミングみたいな、室内で石を頼りに...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.7452.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/43" class="sannkabtn"></a>

        <div id="favorite43">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;43&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/42">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">ディズニーに行きたい！</div>
</a>

      <div class="planfoot">
        <p class="plandes">ディズニーランド好き集まれ〜♪ランドかシーかは集まってか...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.8765464.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/42" class="sannkabtn"></a>

        <div id="favorite42">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;42&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/41">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">アニソンカラオケin 埼玉 ^0^</div>
</a>

      <div class="planfoot">
        <p class="plandes">埼玉住みでアニソンが好きな人で集まってカラオケに行き...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.6234.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/41" class="sannkabtn"></a>

        <div id="favorite41">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;41&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/40">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">キャメロットで踊り明かしましょう♪</div>
</a>

      <div class="planfoot">
        <p class="plandes">初心者でも行きやすいクラブキャメロット♪音楽好き集まれ...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.726345.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/40" class="sannkabtn"></a>

        <div id="favorite40">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;40&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/39">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">しゃぶしゃぶ食べに行きませんか？</div>
</a>

      <div class="planfoot">
        <p class="plandes">焼き肉よりも、フレンチよりも、しゃぶしゃぶが好きなのです。とろける食...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.45644564.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/39" class="sannkabtn"></a>

        <div id="favorite39">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;39&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/38">
        <img class="planimgtop" src="/assets/category3.png" alt="" />
        <div class="plancap">今週末あたりにスノボ一緒に行ける人募集！</div>
</a>

      <div class="planfoot">
        <p class="plandes">今週末、スノボに行きます！大きい車を借りるので、みんなで行って楽...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.6254.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/38" class="sannkabtn"></a>

        <div id="favorite38">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;38&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/37">
        <img class="planimgtop" src="/assets/category4.png" alt="" />
        <div class="plancap">大貧民トーナメントしませんか？</div>
</a>

      <div class="planfoot">
        <p class="plandes">トランプゲームの傑作、大貧民！一番強いのはだれなのか？運と実力を...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.913451.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/37" class="sannkabtn"></a>

        <div id="favorite37">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;37&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/36">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">アイドル曲歌って盛り上がりに行きませか^0^</div>
</a>

      <div class="planfoot">
        <p class="plandes">AKB、ももクロなど、アイドルになりきって(笑)歌い明かしちゃい...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.63232.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/36" class="sannkabtn"></a>

        <div id="favorite36">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;36&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/35">
        <img class="planimgtop" src="/assets/category3.png" alt="" />
        <div class="plancap">フットサルしたい人募集！</div>
</a>

      <div class="planfoot">
        <p class="plandes">みんなでフットサルしましょ〜〜☆...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.77455.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/35" class="sannkabtn"></a>

        <div id="favorite35">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;35&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/34">
        <img class="planimgtop" src="/assets/category2.png" alt="" />
        <div class="plancap">大学生で集まって飲み会しませんか〜？</div>
</a>

      <div class="planfoot">
        <p class="plandes">大学生で集まって飲み明かしましょう〜☆...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.89882.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/34" class="sannkabtn"></a>

        <div id="favorite34">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;34&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>
 <div class="imgcaption">
        <div class="ribbon3">　募集終了</div>

     <p class="areatop">関東<p>


      <a href="/plans/33">
        <img class="planimgtop" src="/assets/category1.png" alt="" />
        <div class="plancap">ただただ自分が歌いたい曲を歌うカラオケしませんか？(笑)</div>
</a>

      <div class="planfoot">
        <p class="plandes">全く空気を気にしない、ただただ自分が歌いたい曲を歌うカラオ...</p>
        <img alt="Picture?width=200&amp;height=200" class="margin_minus2" height="28" src="/assets/graph.facebook.com.01451.png" style="float: left; position: relative; left: 2px;" width="28" />
        <a href="/plans/33" class="sannkabtn"></a>

        <div id="favorite33">
              <a href="javascript:void(0);" class="favoritebtntop" onClick="toggle_favorite( &#x27;33&#x27;, &#x27;favoritebtntop&#x27;, &#x27;create&#x27; )"></a>

        </div>
      </div>
    </div>



  </div>

    <img id="loading" src='/assets/ajax-loader.gif' alt='loading' width='32px' height='32px' style="display: none;" />
    <div style="display: none;"><%= paginate @plans %></div>
  </div>
</div>

