<div id="mainpic">
          <%= link_to  "" , new_plan_path, class: "postbuttontop" %>
        
    </div>
  </div>



<div id="content">
  <div id="content_inner">

    <div id="categorymenu">
<ul>
<li class="first"><a href="#"><img src="/assets/allico.png" width="25" >すべて&nbsp;</a></li>
<li>&nbsp;<a href="#"><img src="/assets/micico.png" width="25" >カラオケ・その他アミューズメント&nbsp;</a></li>
<li>&nbsp;<a href="#"><img src="/assets/billiico.png" width="23" height="27" >飲み会・食事会&nbsp;</a></li>
<li>&nbsp;<a href="#"><img src="/assets/themeico.png" width="25" >スポーツ&nbsp;</a></li>
<li>&nbsp;<a href="#"><img src="/assets/otherico.png" width="25" >アウトドア遊び&nbsp;</a></li>
<li>&nbsp;<a href="#"><img src="/assets/otherico.png" width="25" >インドアゲーム</a></li>



</ul>
</div>

    <br />
        <div class="post">
      <h2>参加募集中のプラン一覧</h2>
    </div>

     <% @plans.each{ |plan| %>
        <div class="imgcaption">
        
            <%= link_to( plan_path( plan ) ) do %>
              <p><img src="<%= plan.image_url %>" width="210" height="117" alt="<%= plan.title %>" /></p>
            <% end %>

            <div class="planinner">
            <p><%= link_to( plan.title, plan_path( plan ) ) %><p>
            <br>
           
           <%= link_to  "" , new_plan_path, class: "attendbtntop" %>

      　　　<% if @favorites[plan.id].present? %>
              <%= link_to( "", plan_favorite_path( @favorites[plan.id].plan, @favorites[plan.id] ), method: "delete", confirm: "お気に入りを解除してよろしいですか？" , class: "favoritebtntopcancell" ) %>
            <% else %>
              <%= link_to( "", plan_favorites_path( plan ), method: "post" , class: "favoritebtntop" ) %>
            <% end %>
          </div>


            <br/>
        </div>
     <% } %>
    </div>
  </div>
</div>
