<script type="text/javascript">
</script>

<div id="mainpic">

          <div class="copy"><img src="/assets/copy.png" width="657" height="96" alt="遊びを通じて、趣味の合う仲間を作れる。あなたのやりたい趣味を募集して、集まった仲間と実際に遊ぶ。ソーシャル・レジャーマッチングサービス「Playcast」" /></div>

          <%= link_to  "" , new_plan_path, class: "postbuttontop" %>

    </div>
  </div>



<div id="content">
  <div id="content_inner">



    <% Category.all.each{ |category| %>
      <%= link_to( category.name, plans_path( category_id: category.id ) ) %>
    <% } %>

    <br />
        <div class="post">
      <h2>参加募集中のプラン一覧</h2>
    </div>



    <div id="paging">
    <% @plans.each{ |plan| %>
     <div class="imgcaption">
            <%= link_to( plan_path( plan ) ) do %>
              <img class="planimgtop" src="/assets/amuplanico.png" width="63" height="56" alt="" />
              <div class="plancap"><%= link_to( plan.title, plan_path( plan ) ) %></div>
           <% end %>

               <div class="planfoot">
　　　　       　<%= image_tag( plan.user.image, size: "28x28", class: "margin_minus2", style: "float: left; position: relative; left: 5px;" )%>
                <%= link_to  "" , plan_path( plan ), class: "sannkabtn" %>

          <%# お気に入りボタン %>
          <div id="favorite<%= plan.id %>">
                   <%= render partial: '/plans/favorite', locals: { favorite: @favorites[plan.id], plan: plan, klass: "favoritebtntop" } %>
                </div>
               </div>
          </div>
    <% } %>
    </div>

    <img id="loading" src='/assets/ajax-loader.gif' alt='loading' width='32px' height='32px' style="display: none;" />
    <div style="display: none;"><%= paginate @plans %></div>
  </div>
</div>

