<script type="text/javascript">
</script>

<div id="mainpic">
  <div class="copy"><img src="/assets/copy.png" width="657" height="96" alt="遊びを通じて、趣味の合う仲間を作れる。あなたのやりたい趣味を募集して、集まった仲間と実際に遊ぶ。ソーシャル・レジャーマッチングサービス「Playcast」" /></div>

  <%= link_to  "" , new_plan_path, class: "postbuttontop" %>
</div>
</div>

<div id="content">
  <div id="content_inner">

    <%# カテゴリ %>
    <div class="catewrap">
    <%= link_to( plans_path( category_id: nil ), class:"cateall" ) do %><%= image_tag( "category0.png" )%><span class="catealldes">すべて</span><% end %>

    <% Category.all.each.with_index(1){ |category, index| %>
      <div class="catego">
      <%= link_to( plans_path( category_id: category.id ) ) do %>
        <span class="cateimg"><%= image_tag( "category#{index}.png" )%></span><span class="catedes"><%= category.name %></span>
      <% end %>
    </div>
    <% } %>
    </div>


    <br><br>


        <div class="post">
      <h2>本日の参加募集中プラン一覧</h2>



    <div id="paging">
    <% @plans.each{ |plan| %>
     <div class="imgcaption">
  　　<p class="planp">カラオケ・アミューズメント</p>
            <%= link_to( plan_path( plan ) ) do %>
              <img class="planimgtop" src="/assets/category1.png" width="63" height="56" alt="" />
              <div class="plancap"><%= plan.title %></div>
           <% end %>


<% if plan.closed? %>
  <%# 募集終了 %>
  <div class="ribbon2">　募集終了</div>
<% elsif plan.hold_decide? %>
  <%# 開催決定／募集中 %>
  <div class="ribbon2">　開催決定！</div>
<% else %>
  <%# 開催未決定／募集中 %>
  <div class="ribbon">　先着<%= plan.min_people %>人で開催！</div>
<% end %>

               <div class="planfoot">
                <p class="plandes">J-popやK−POPが好きだという方！カラオケで思いっきり歌いませんか？時間はまだ...</p>
　　　　       　<%= image_tag( plan.user.image, size: "28x28", class: "margin_minus2", style: "float: left; position: relative; left: 2px;" )%>
                <%= link_to  "" , plan_path( plan ), class: "sannkabtn" %>

          <%# お気に入りボタン %>
          <% if session[:user_id].present? %>
            <div id="favorite<%= plan.id %>">
              <%= render partial: '/plans/favorite', locals: { favorite: @favorites[plan.id], plan: plan, klass: "favoritebtntop" } %>
            </div>
          <% end %>
        </div>
      </div>
    <% } %>
    </div>



    <img id="loading" src='/assets/ajax-loader.gif' alt='loading' width='32px' height='32px' style="display: none;" />
    <div style="display: none;"><%= paginate @plans %></div>
  </div>
</div>

