
<h1>新規プラン作成</h1>

<br />

<%= form_for( :plan, url: plans_path, html: { class: "plan_form" } ) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each{ |msg| %>
        <li><%= msg %></li>
      <% } %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= "カテゴリ" %></h3>
    <% @categories.each.with_index(1){ |category, index| %>
      <%= check_box_tag "categories[#{index}]", category.id, (params[:categories].present? ? params[:categories].has_value?(category.id.to_s) : false) %>
      <%= label_tag "categories[#{index}]", category.name %>
    <% } %>
  </div>

  <br />

  <h3><%= "プラン情報" %></h3>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 5, class: "span6" %>
  </div>

  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url, class: "span6" %>
  </div>

  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place, class: "span6" %>
  </div>

  <div class="field">
    <%= f.label :budget %><br />
    <%= f.text_field :budget %>
  </div>

  <div class="field">
    <%= f.label :min_people %><br />
    <%= f.number_field :min_people %>
  </div>

  <div class="field">
    <%= f.label :max_people %><br />
    <%= f.number_field :max_people %>
  </div>

  <div class="field">
    <%= f.label :publish_start_at %><br />
    <%= f.datetime_select :publish_start_at, use_month_numbers: true, default: Time.now, minute_step: 5 %>
  </div>

  <div class="field">
    <%= f.label :publish_end_at %><br />
    <%= f.datetime_select :publish_end_at, use_month_numbers: true, default: Time.now.since(1.month), minute_step: 5 %>
  </div>

  <div class="field">
    <%= f.label :target_people %><br />
    <%= f.text_area :target_people, rows: 5, class: "span6" %>
  </div>

  候補日<br />
  <% 1.upto(5){ |n| %>
    <%= text_field_tag( "schedule[#{n}]", nil, class: "span4" ) %><br />
  <% } %>

  <div class="actions">
    <%= f.submit t( "menu.create" ), data: { 'disable-with' => t( "menu.create" ) } %>
  </div>
<% end %>

<%= link_to t( "menu.list" ), plans_path %>
