
<div id="plantitle">
<div id="plantitleinner">


 <img class="imageeee" src="/assets/imageeee.png"  width="120px" />

      <h1><%= @plan.title %></h1>

<% if false %>
      <div class="planimg"><img src="<%= @plan.image_url %>" alt="<%= @plan.title %>" width="580px" height="340" /></p></div>
<% end %>


  <div id="socialshow">

  <div class="poster">投稿者：<%= render partial: '/layouts/user_icon', locals: { user: @plan.user } %><%= @plan.user.name %></div>

  <div class="fb-like" data-href="http://www.facebook.com/pages/Playcast/292086317583536" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>

　<a href="https://twitter.com/share" class="twitter-share-button" data-text="“友達も恋人も、もっと自然に作りたい” 　自分の好きな遊びを通じて新たな仲間を作れるサービス「Playcast」" data-lang="ja" data-related="Playcast_jp">ツイート</a>
　<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <div class="g-plusone" data-size="medium"></div>
　<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</div>
  </div>




</div>
<div id="content_plans">

  <div id="leftcontents">

   <div id="decide">
   <h1>開催決定！</h1>
  <p>おめでとうございます！参加人数が集まり、開催が決定しました。</p>
  <p class="dedes">ページ下のコメント欄にて、待ち合わせ場所と時間を決めましょう。<br>※このページは参加者以外は見る事が出来ないようになっています。<p>


   </div>


    <div id="plan">



      <dl class="plande">
      <dt>プラン説明：</dt> <dd><%= @plan.description %></dd>
      <dt>こんな人に来てほしい：</dt> <dd class="target"><%= @plan.target_people %></dd>
      <dt>日時候補：</dt>
      <dd><span class="datedes">下記候補の中で、一番参加者が多い日時で開催</span><br>
        <% @schedules.each.with_index(1){ |schedule, index| %>
          <% if schedule[1].candidate_day.present? %>
            <span class="plandatedes"><%= schedule[1].candidate_day.strftime("%Y年%m月%d日 %H:%M スタート") if schedule[1].present? %></span>
            <div class="atndmembers">【参加予定メンバー】:</div>

            <div class="atndmembersimg">
            <% participations = @participations.select{ |x| x.schedule_id == schedule[1].id } %>
            <% participations.each{ |participation| %>
              <% if participation.user.present? %>
                <%= link_to_unless( participation.user.nickname.blank?, image_tag( participation.user.image, size: "24x24", class: "margin_minus2" ), user_path(participation.user), rel: "tooltip", "data-original-title" => participation.user.nickname, title: participation.user.nickname ) %>
              <% end %>
            <% } %>
           </div>

            <br />
          <% end %>
        <% } %>

        <br><a href="http://0.0.0.0:3000/plans/new" style="color: rgb(255, 79, 79); font-size: 13px; text-decoration: underline;">※行きたいけど予定が合いませんか？それでしたら同じ内容のプランを、あなたの都合の良い日時で投稿してみましょう。</a><br><br>
      </dd>
      <dt>場所：</dt> <dd><%= @plan.place %></dd>
      <dt>予算：</dt> <dd><%= @plan.budget %></dd>
      <dt>最低開催人数：</dt> <dd><%= @plan.min_people %>人以上集まらないと開催しない</dd>
      <dt>定員：</dt> <dd><%= @plan.max_people %>人まで</dd>

      </dd>
      </dl>

      <% if @plan.user_id == session[:user_id] %>
        <div class="planedit">
          <%= link_to( "編集", edit_plan_path( @plan ) ) %>
          　<%= link_to( "削除", plan_path( @plan ), method: "delete", confirm: "「#{@plan.title}」を削除してよろしいですか？" ) %>
        </div>
      <% end %>
    </div>

    <div id="cast">
      <div id="t-accordion" class="st-accordion">
        <ul>
          <li>
            <p><img src="/assets/showmemberico.png/" style="width:40px; height:30px; margin-right:3px;">参加予定中のメンバー</p>

            <div class="st-content">
              <% @entries.each.with_index(1){ |entry, index| %>
              <div class="comment"><%= render partial: '/layouts/user_icon', locals: { user: entry.user } %><%= entry.user.name %> : <%= entry.comment %></div>
             <br> <% } %>
            </div>
          </li>
        </ul>
      </div>

      <script type="text/javascript" src="/assets/jquery.accordion.js"></script>
      <!--<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>-->
      <script type="text/javascript">
        $(function() {
          $('#st-accordion').accordion();
        });
      </script>
    </div>

    <% if @cheers.present? %>
    <div id="cast">
      <div id="t-accordion" class="st-accordion">
        <ul>
          <li>
            <p><img src="/assets/showouenico.png/" style="width:40px; height:30px; margin-right:3px;">応援している人</p>

            <div class="st-content-ouen">
              <% @cheers.each.with_index(1){ |cheer, index| %>
                <%= render partial: '/layouts/user_icon', locals: { user: cheer.user } %>
              <% } %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <% end %>

    <div id="attendlink"></div>

    <div id="attend">
      <h3>参加はこちらから</h3>

      <div id="attendinner">
        <% if @entry.present? %><br>
       <span style=" color: rgb(255, 0, 112); font-weight: bold;">現在参加中です：</span>
          <%= link_to( "参加キャンセル", plan_entry_path( @entry.plan, @entry ), method: "delete", confirm: "参加をキャンセルします。よろしいですか？" ) %><br>
        <% else %>
          <% if @plan.entry_close_flag %>
            <span style="color: red;">既に募集が終了しています。</span>
          <% else %>
            <div class="sannkazyoukenn">※<%= @plan.min_people %>人以上集まった日時で開催/定員<%= @plan.max_people %>人まで</div>

            <h4>1.候補日を選択 （都合がつかない日のチェックを外してください。）</h4>

            <%= form_tag( plan_entries_path( @plan ) ) do %>
              <div class="dates">
                <% 5.times{ |i| %>
                  <% if @entry_schedules[i].present? and @schedules[@entry_schedules[i]].candidate_day.present? %>
                    <%= check_box_tag "entry[schedules][#{i}]", @entry_schedules[i], true %>
                    <%= label_tag "entry[schedules][#{i}]", @schedules[@entry_schedules[i]].candidate_day.strftime("%Y年%m月%d日 %H:%M スタート") %><br />
                  <% end %>
                <% } %>
              </div>



              <h4 style="margin: 25px 0 5px 0;">2.一言コメントを入力してください。(必須)</h4>        
              <%#= text_field_tag( "entry[comment]", nil, class: "span6" ) %><br />
              <!--<textarea name="comment" rows="3" cols="30" placeholder="楽しみ！よろしくおねがいします" style="font-size: 12px;"></textarea><br><br />-->
              <%= text_area_tag "entry[comment]", "", placeholder: "楽しみ！よろしくおねがいします", class: "atndcom" %>

              <%= submit_tag '', class: "attendbutton" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="commentflame">
      <img src="/assets/showcomico.png/" style="width:40px; height:30px; margin-right:3px;"><span class="comm">コメント欄</span>

      <%= form_for( :comment, url: plan_comments_path( @plan ) ) do |f| %>
        <%#= f.text_area "comment_content", params[:comment_content], rows: 5, cols: 90, class: "span6" %><br />
        <%= f.text_area :content, rows: 5, cols: 90, class: "span6" %>

        <%= f.submit "コメント", data: { 'disable-with' => "コメント" } %>
      <% end %>

      <% @comments.each{ |comment| %>
        <div class="comment2">
          <p>
            <%= render partial: '/layouts/user_icon', locals: { user: comment.user } %><%= comment.user.try(:name) %>：
            <%= comment.content %>
            <%= link_to( "削除", plan_comment_path( comment.plan, comment ), confirm: "コメントを削除してよろしいですか？", method: "delete", style: "font-size: 13px; float: right;" ) if comment.user_id == session[:user_id] %>
          </p>
        </div>
      <% } %>
    </div>
  </div>

  <div id="rightcontensshow">
    <div id="other1">
      <%= link_to( "", { anchor: "attendlink" }, class: 'attendbutton2' ) %>

      <%# お気に入りボタン %>
      <div id="favorite<%= @plan.id %>">
        <%= render partial: '/plans/favorite', locals: { favorite: @favorite, plan: @plan, klass: "btn2" } %>
      </div>
    </div>

    <div id="other2">
      <div class="ouen">プランを応援しましょう</div>
      <p style="font-size:0.9em">応援している人が多いと、人気ランキングに載り易くなります。</p>

      <% if @cheer.present? %>
        <%= link_to( "", plan_cheer_path( @plan, @cheer ), method: "delete", confirm: "応援をやめてもよろしいですか？" , :class => 'ouenbuttoncancell' ) %>
      <% else %>
        <%= link_to( "", plan_cheers_path( @plan ), method: "post" , :class => 'ouenbutton' ) %>
      <% end %>
    </div>

    <div id="other3">
      <p>新着プラン</p>
      <% @recent_plans.each{ |plan| %>
        <%= link_to( plan_path( plan ) ) do %>
          <img class="planimgtop" src="/assets/amuplanico.png" width="63" height="56" alt="" />
          <div class="plancap"><%= link_to( plan.title, plan_path( plan ) ) %></div>
       <% end %>
      <% } %>
    </div>
  </div>
</div>
