
<br />

<p>
  <b><%= t("plan.title") %></b><br />
  <%= @plan.title %>
</p>

<p>
  <b><%= t("plan.description") %></b><br />
  <%= @plan.description %>
</p>

<p>
  <b><%= t("plan.image_url") %></b><br />
  <%= @plan.image_url %>
</p>

<p>
  <b><%= t("plan.place") %></b><br />
  <%= @plan.place %>
</p>

<p>
  <b><%= t("plan.budget") %></b><br />
  <%= @plan.budget %>
</p>

<p>
  <b><%= t("plan.min_people") %></b><br />
  <%= @plan.min_people %>
</p>

<p>
  <b><%= t("plan.max_people") %></b><br />
  <%= @plan.max_people %>
</p>

<p>
  <b><%= t("plan.publish_start_at") %></b><br />
  <%= @plan.publish_start_at %>
</p>

<p>
  <b><%= t("plan.publish_end_at") %></b><br />
  <%= @plan.publish_end_at %>
</p>

<p>
  <b><%= t("plan.target_people") %></b><br />
  <%= @plan.target_people %>
</p>

<%= link_to t( "menu.edit" ), edit_plan_path( @plan ) %>
 | <%= link_to t( "menu.list" ), plans_path %>
