<br />

<h3>
  <% if @plan.decide_flag %>
    <span style="color: red;">開催決定</span>
  <% else %>
    <span style="color: blue;">開催未定</span>
  <% end %>
</h3>

<br />

<h3>
  <% if @plan.entry_close_flag %>
    <span style="color: red;">募集終了</span>
  <% else %>
    <span style="color: blue;">募集中</span>
  <% end %>
</h3>

<hr />

<b>
  <% if @favorite.present? %>
    <%= link_to( "☆お気に入り登録解除", plan_favorite_path( @favorite.plan, @favorite ), method: "delete", confirm: "本当に削除してよろしいですか？" ) %>
  <% else %>
    <%= link_to( "☆お気に入りに登録", plan_favorites_path( @plan ), method: "post" ) %>
  <% end %>
</b><br />

<hr />

<b>
  <% if @entry.present? %>
    <%= link_to( "☆参加キャンセル", plan_entry_path( @entry.plan, @entry ), method: "delete", confirm: "参加をキャンセルします。よろしいですか？" ) %>
  <% else %>
    <% if @plan.entry_close_flag %>
      <span style="color: red;">既に募集が終了しています。</span>
    <% else %>
      <%= form_tag( plan_entries_path( @plan ) ) do %>
        <% 5.times{ |i| %>
          <% if @entry_schedules[i].present? %>
            <%= check_box_tag "entry[schedules][#{i}]", @entry_schedules[i], false %>
            <%= label_tag "entry[schedules][#{i}]", @schedules[@entry_schedules[i]].candidate_day.strftime("%Y/%m/%d %H:%M") %><br />
          <% end %>
        <% } %>

        <%= text_field_tag( "entry[comment]", nil, class: "span6" ) %><br />

        <%= submit_tag '参加する' %>
      <% end %>
    <% end %>
  <% end %>
</b><br />

<hr />

<h3>プラン情報</h3>

<p>
  <b><%= t("plan.title") %></b><br />
  <%= @plan.title %>
</p>

<p>
  <b><%= t("plan.description") %></b><br />
  <%= @plan.description %>
</p>

<p>
  <b><%= t("plan.image_url") %></b><br />
  <%= @plan.image_url %>
</p>

<p>
  <b><%= t("plan.place") %></b><br />
  <%= @plan.place %>
</p>

<p>
  <b><%= t("plan.budget") %></b><br />
  <%= @plan.budget %>
</p>

<p>
  <b><%= t("plan.min_people") %></b><br />
  <%= @plan.min_people %>
</p>

<p>
  <b><%= t("plan.max_people") %></b><br />
  <%= @plan.max_people %>
</p>

<p>
  <b><%= t("plan.publish_start_at") %></b><br />
  <%= @plan.publish_start_at %>
</p>

<p>
  <b><%= t("plan.publish_end_at") %></b><br />
  <%= @plan.publish_end_at %>
</p>

<p>
  <b><%= t("plan.target_people") %></b><br />
  <%= @plan.target_people %>
</p>

<hr />

<h3>参加者一覧</h3>

<% @entries.each.with_index(1){ |entry, index| %>
  <%= index %> : <%= render partial: '/layouts/user_icon', locals: { user: entry.user } %><%= entry.user.name %> : <%= entry.comment %><br />
<% } %>

<hr />

<h3>カテゴリ</h3>

<% @categorize.each.with_index(1){ |c, index| %>
  <%= index %> : <%= c.category.name %><br />
<% } %>

<hr />

<h3>候補日</h3>

<% @schedules.each.with_index(1){ |schedule, index| %>
  <%= index %> : <%= schedule[1].candidate_day.strftime("%Y/%m/%d %H:%M") if schedule[1].present? %>
  <% participations = @participations.select{ |x| x.schedule_id == schedule[1].id } %>
  <% participations.each{ |participation| %>
    <%= render partial: '/layouts/user_icon', locals: { user: participation.user } %>
  <% } %>
  <br />
<% } %>

<hr />

<%= link_to t( "menu.edit" ), edit_plan_path( @plan ) %>
 | <%= link_to t( "menu.list" ), plans_path %><br />

<br />

<h3>コメント</h3>

<%# コメント投稿フォーム %>
<%= form_for( :comment, url: plan_comment_path( @plan ) ) do |f| %>
  <%= text_area_tag "comment_content", params[:comment_content], rows: 5, class: "span6" %><br />

  <%= f.submit "コメント", data: { 'disable-with' => "コメント" } %>
<% end %>

<%# コメント投稿一覧 %>
<% @comments.each{ |comment| %>
  <p>
    <%= render partial: '/layouts/user_icon', locals: { user: comment.user } %>
    <%= comment.content %>
  </p>
<% } %>
