<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta name="google-site-verification" content="-ZR4EVSKA723d5JOJYCC-iOtE2SVGmc6OKWYPis6U6E" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= Settings.app_name %></title>
  <%= stylesheet_link_tag "application_mobile", :media => "all" %>

  <%= javascript_include_tag "application_mobile" %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.js">
        </script>

        <link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.min.css" /> 
<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.core.min.js"></script>
<!-- 以下はCalBox modeの時に必要 -->
<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.calbox.min.js"></script>
<!-- 以下は日本語表記のために必要 -->
<script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/i18n/jquery.mobile.datebox.i18n.ja.utf8.js"></script>


  <script>
  // TODO: エラー「Uncaught TypeError: Object [object Object] has no method 'ahPlaceholder'」
/*
  $(function() {
    $('[placeholder]').ahPlaceholder({
      placeholderColor : 'silver',
      placeholderAttr : 'placeholder',
      likeApple : false
    });
  });
*/
  </script>

  <%= csrf_meta_tags %>


  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38680438-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

   <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



   
           <!-- Home -->
        <div data-role="page" id="page1">
   <div data-role="content">

<div id="header">

<a href="http://0.0.0.0:3000/plans"><img src="/assets/logo.png" /></a>



          <% if session[:user_id].present? %>
         
              <%= link_to( user_path( session[:user_id] ) ) do %>
                <%= image_tag( current_user.image, size: "0x0", class: "margin_minus2" )%>
              
              <% end %>
        
          <% else %>
            <%# 未ログイン %>
         <%= link_to "Login", "/auth/#{Settings.provider}", "data-ajax" => "false" %>
          <% end %>


</div>

 <div class="container">
    <div id="content">
     <div id="content_inner">
    <%# 通知／エラーメッセージ %>
    <%= simple_format( flash[:notice], class: "alert2"  ) if flash[:notice].present? %>
    <%= simple_format( flash[:alert], class: "alert" ) if flash[:alert].present? %>
 </div>
 </div>


<%= yield %>


              
            </div>
          
        </div>
       </div> 
    </body>
</html>
