<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta name="google-site-verification" content="-ZR4EVSKA723d5JOJYCC-iOtE2SVGmc6OKWYPis6U6E" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>あなたの行きたい所・やりたい趣味が実現出来る『Playcast』</title>
  <meta name="title" content="あなたの行きたい所・やりたい趣味が実現出来る『Playcast』" />
  <meta name="keywords" content="Playcast,プレイキャスト" />
  <meta name="description" content="Playcastは、あなたの行きたい所・やりたい趣味を投稿して、共感する仲間と実際に集まることが出来る、ソーシャル・レジャーマッチングサービスです。" />

  <meta property="fb:admins" content="100004256263592" />
  <meta property="fb:app_id" content="462296607140607" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="あなたの行きたい所・やりたい趣味が実現出来るサービス『Playcast』" />
  <meta property="og:description" content="Playcastは、あなたの行きたい所・やりたい趣味を投稿して、共感する仲間と実際に集まることが出来る、ソーシャル・レジャーマッチングサービスです。" />
  <meta property="og:url" content="http://playcast.jp/" />
  <meta property="og:image" content="http://playcast.jp/assets/ogimg.png" />
  <meta property="og:locale" content="ja_JP" />

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <script>
  // TODO: エラー「Uncaught TypeError: Object [object Object] has no method 'ahPlaceholder'」
/*
  $(function() {
    $('[placeholder]').ahPlaceholder({
      placeholderColor : 'silver',
      placeholderAttr : 'placeholder',
      likeApple : false
    });
  });
*/
  </script>
  <link rel="shortcut icon" href="/assets/favicon.ico" >

  <%= csrf_meta_tags %>


  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38680438-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<div id="fb-root"></div>　
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="container">
  <div id="header<%= request.smart_phone? ? 'mobi' : '' %>">
    <div id="header_inner">
      <h1><a href="/plans"><img src="/assets/logo.png"> </a></h1>
      <p>遊びを通じて、気軽に人脈を作れるサービス『プレイキャスト』</p>

      <div id="navbar">
      <div id="submenu">
        <ul>

          <li class="first"><a href="/plans/new"><img src="/assets/postmini.png"></a></li>

          <% if current_user.present? %>
            <li>
              <% if Feed.where( user_id: session[:user_id] ).where( "created_at > ?", (session[:feed_reed_at].presence || current_user.created_at) ).exists? %>
                <%= link_to( "お知らせあり!", feed_users_path, class: "feedact" ) %>
              <% else %>
                <%= link_to( "お知らせ", feed_users_path ) %>
              <% end %>
            </li>

            <li>
              <%= link_to( user_path( current_user.slug ) ) do %>
                <%= image_tag( current_user.image, size: "28x28", class: "margin_minus2" )%>
                マイページ
              <% end %>
            </li>
          <% else %>
            <li><%= link_to( "お知らせ", feed_users_path ) %></li>

            <%# 未ログイン %>
            <li><%= link_to "ログイン", "/auth/#{Settings.provider}" %></li>
          <% end %>
        </ul>
      </div>
     </div>
    </div>
    </div>
  </div>

    <%# 通知／エラーメッセージ %>
    <%= simple_format( flash[:notice], class: "alert2"  ) if flash[:notice].present? %>
    <%= simple_format( flash[:alert], class: "alert" ) if flash[:alert].present? %>
 </div>
 </div>

    <%= yield %>

     <div id="foot">

     <div id="footmenu">
<ul>
<li class="first"><a href="<%= pages_contact_path %>">お問い合わせ・ご意見はこちら</a></li>
<li><a href="<%= pages_terms_path %>">利用規約</a></li>
<li><a href="<%= pages_privacy_path %>">プライバシーポリシー</a></li>
<% if current_user.present? %><li><%= link_to "ログアウト", logout_path %></li><% end %>

</ul>
</div>




      <div id="footer">
        <div id="footer_inner">
          <p>Copyright (c) Playcast. All Rights Reserved.</p><br>
        </div>
      </div>
    </div>
  </div>
</body>
</html>