<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= Settings.app_name %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <script>
  // TODO: エラー「Uncaught TypeError: Object [object Object] has no method 'ahPlaceholder'」
/*
  $(function() {
    $('[placeholder]').ahPlaceholder({
      placeholderColor : 'silver',
      placeholderAttr : 'placeholder',
      likeApple : false
    });
  });
*/
  </script>

  <%= csrf_meta_tags %>
</head>

<body>
<div id="container">
  <div id="header">
    <div id="header_inner">
      <h1><a href="/plans"><img src="/assets/logo.png"> </a></h1>
      <p>プレイキャスト</p>

     
  <div id="navbar">
      <div id="submenu">
        <ul>

          <li class="first"><a href="/plans/new"><img src="/assets/postbtnmini.png"></a></li>
       
          <li class="first"><%= link_to( "お知らせ", feed_users_path ) %></li>

          <% if session[:user_id].present? %>
            <li>
              <%= link_to( user_path( session[:user_id] ) ) do %>
                <%= image_tag( current_user.image, size: "28x28", class: "margin_minus2" )%>
                マイページ
              <% end %>
            </li>
          <% else %>
            <%# 未ログイン %>
            <li><%= link_to "Login", "/auth/#{Settings.provider}" %></li>
          <% end %>
        </ul>
      </div>
     </div> 
    </div>
    </div>
  </div>

  <div class="container">
    <div class="margin_top50"><div>
    <%# 通知／エラーメッセージ %>
    <%= simple_format( flash[:notice], style: "color: green;" ) if flash[:notice].present? %>
    <%= simple_format( flash[:alert], style: "color: red;" ) if flash[:alert].present? %>

    <%= yield %>

     <div id="foot">

     <div id="footmenu">
<ul>
<li class="first"><a href="#">お問い合わせ・ご意見はこちら</a></li>
<li><a href="#">利用規約</a></li>
<li><a href="#">プライバシーポリシー</a></li>
<li><%= link_to "ログアウト", logout_path %></li>

</ul>
</div>




      <div id="footer">
        <div id="footer_inner">
          <p>Copyright (c) Playcast. All Rights Reserved.</p><br>
        </div>
      </div>
    </div>
  </div>
</body>
</html>